/* #MainMenu { visibility: hidden; } */
footer  { visibility: hidden; }

.appview-container .main .block-container { margin-top: -65px; }

/* .appview-container [data-testid = 'stSidebar'] .block-container {
    margin-top: -50px;
    width: 360px;
} */

/* style form login */
/* .appview-container .main .block-container [data-testid = 'stForm'] { margin-top: 140px; } */