/* #MainMenu { visibility: hidden; } */
footer  { visibility: hidden; }

.appview-container .main .block-container { margin-top: -90px; }

@media (min-width: 990px) {
/* @media (max-width: 320px) { */
.appview-container [data-testid = 'stSidebar'] .block-container {
    margin-top: -50px;
    width: 364px;
    }
}

/* .appview-container .main .block-container [data-testid = 'stExpander'] input, select {
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
} */
